@charset "UTF-8";

.tabla{
	border: solid black 1px;
	border-collapse: collapse;
	width: 20 rem;
	height: 16rem;
	
}
.borde{
	border:  solid black 1px;
}
.dis{
	display: block;
	overflow: scroll;
	width: 20 rem;
	height: 16rem;
	border: 1px;
}

.celda{
	border-collapse: collapse;
	border: solid black;
	background-color: lightblue;
}
.celda__tit{
	text-align: center;
	background-color: purple;
}
.celda__a{
	background-color: green;
	border-collapse: collapse;
	border: solid black;
	text-align: center;
}
.celda__1{
	background-color: yellow;
	border-collapse: collapse;
	border: solid black;
	text-align: center;
}
.sepa{
	 margin-top: 3rem;
	 margin-bottom: 3rem;
	 text-align: center;
}
.celda__2{
	background-color: orange;
	text-align: center;
	
	
}
	.celda__3{
	background-color: orange;
	border-collapse: collapse;
	border: solid black;
	color: purple;
	text-align: center;
}
	.celda__b{
	color: red;
	border-collapse: collapse;
	border: solid black;
	background-color: pink;
	text-align: center;
	}
	.tit{
		text-align: center;
	color: white;
	background-color: rgb(0, 0, 0);
	font-size: 2rem;
	margin-bottom: 1rem;
		
	}

